body {
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/* .container {
padding: 15px;
display: flex;
flex-wrap: wrap;
} */
.container {
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    text-align: center;
}



.card {
    padding: 15px 15px 10px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #80c1f2 0%, #7c9ef2 100%);
    border-radius: 20px;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 16px;
    margin-right: 16px;
    flex: auto;
}
.phone {
    align-self: flex-end;
    z-index: 3;
}
.card-body img {
    width: 150px;
    height: 150px;
    border-radius:60%;
    object-fit: cover;
}
.card-body {
    display: flex;
    justify-content: space-between;
}
.card-body-items{
    display: flex;
}
.card-footer {
    margin-right: 10px;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, san-serif;
}

.img-fondo {
    background-image: url(/src/main/resources/static/img/sillonliving.jpg);
    display:inline-table;
    opacity: 0.4;
    width: 100%;
    height: 100vh;
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    margin: 0%;
}

.container {
    padding: 15px;
    display: flex;
    width: 400px;
    background-color: #e95772;
    float: left;
}
.card {
    padding: 15px 15px 10px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #80c1f2 0%, #7c9ef2 100%);
    border-radius: 20px;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 16px;
    margin-right: 16px;
    flex: auto;
}
.card img {
    width: 100%;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.puntos {
    align-self: flex-end;
    z-index: 3;
}

.card-body {
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
.card-title {
    font-size: 16px;
}
.card-body h5,
.card-body p {
    margin: 0;
}

.card-body-item {
    display: flex;
}

.card-body .phone {
    margin-bottom: 20px;
    font-size: 14px;
}

.datos {
    display: flex;
    font-size: 12px;
}

.datos div {
    margin-right: 10px;
    text-align: center;
}
.tarjetas {
    float: left;
    width: 600px;
}
