* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background-image: url(/img/sillonliving.jpg);
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: cover;
}

.show-btn{

}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  /* display: none; */
  background-color: #4e4d4de1;
  width: 400px;
  padding: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}


.container .text {
  font-family: "Licorice", cursive;
  font-size: 60px;
  color: #fefefe;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}

.container form {
  margin-top: -20px;
}

.container form .data {
  height: 45px;
  width: 100%;
  margin: 40px 0px;
}

form .data input {
  height: 100%;
  width: 100%;
  padding-left: 20px;
  text-align: left;
  font-size: 18px;
  border: none;
  /* border-bottom: 1px solid #56d8e4; */
  border-bottom: 1px solid #d89e53;
  box-shadow: -5px 5px 5px -5px #d89e53;
  border-radius: 15px;
  /* border-bottom: 1px solid  #9f01ea; */
  background-color: transparent;
  color: #fefefe;
  cursor: pointer !important; 
}
/* ver con el grupo */
form .data input:focus {
  color: #d89e53;
}

form .data ::placeholder {
  color: #fefefe;
  /* padding-bottom: -20px; */
}

form .forgot-pass {
  /* margin-left: -8px; */
}
#clave {
  width: 83%;
}

#icono {
  height: 100%;
  width: 15%;
  text-align: center;
  font-size: 16px;
  border: none;
  background-color: transparent;
  color: #fefefe;
  cursor: pointer;
  height: 45px;
}

#icono:hover {
  color: #d89e53;
}

form .forgot-pass a {
  text-decoration: none;
  color: #fefefe;
  padding-left: 20px;
}

form .forgot-pass a:hover {
  text-decoration: underline;
  color: #d89e53;
}

form .btn {
  margin: 30px 0;
  height: 45px;
  width: 80%;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

form .btn .inner {
  height: 100%;
  width: 100%;
  position: absolute;
  left: -100%;
  z-index: -1;
  /* background: -webkit-linear-gradient(
    right,
    #56d8e4,
    #9f01ea,
    #56d8e4,
    #9f01ea
  ); */
  background: -webkit-linear-gradient(right, #d89e53, #d89e53,  #e5e6eb);
  transition: all 0.5s;
}

/* #d89e53, */
/* #c39769, */
/* #004c64, */
/* #d89e53, */
/* #c39769, */
/* #e5e6eb, */
/* #004c64 */

form .btn:hover .inner {
  left: 0;
}

form .btn button {
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  color: #fefefe;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}
form .btn button:hover {
  color: #e5e6eb;
  transition: all 0.5s;
}

form .signup-link {
  color: #fefefe;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin: 20px auto;
}

form .signup-link a {
  color: #fefefe;
  text-decoration: none;
}

form .signup-link:hover a {
  /* color: #56d8e4; */
  color: #d89e53;
  text-decoration: underline;
}

form .goback-link {
  color: #fefefe;
  text-align: right;
  text-decoration: none;
  font-size: 17px;
}

form .goback-link a {
  color: #fefefe;
  text-decoration: none;
}

form .goback-link:hover a {
  /* color: #56d8e4; */
  color: #d89e53;
  text-decoration: underline;
}
