<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/cardPrueba.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="phone"></div>
            <div class="card-titulo">
                <h1> Nombre y Apellido </h1>
            </div>
            <div class= "card-body">
                <div class= "card-body-items">
                    <div class= "datos-job">
                        <p></p>
                    <p id="salary">remuneracion pretendida</p>
                    <p id="workingZone">zona laboral</p>
                    <p id="dateFrom">date from</p>
                    <p id="dateTo">date to</p>
                </div>
                </div>                
                <img src="https://www.argentina.gob.ar/sites/default/files/vinetas_justicia_cerca_04_el_paseador_de_mi_perro.png" alt="">
            </div>
            <div class="card-footer">
                <p id="petQuantity">cantidad de perros</p>
                <p id="petType">tamaño</p>
            </div>
        </div>
    </div>

    <script defer src="../static/js/cardPrueba.js"></script>

</body>

</html>