<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Limpieza Doméstica</title>
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="/src/main/resources/static/css/style.css">
</head>
<body>
    <header>    
        <h1>Complete el siguiente Formulario </h1>
        </header> 
        <hr>
        <h2> Limpieza Doméstica <h2>
        <img src="../static/img/Limpieza/limp17.jpg" alt="images" width="300"/>
        <form action="/cleaningForm" method="POST">
            <div>   
                <label for= "salario"> Remuneración Pretendida </label>
                <input type="text" name "salary" id= "salario">
            </div>
            <br>
            <div>   
                <label for= "zona"> Zona Laboral </label>
                <select name= "workingZone" id="zona">
                    <option value= "Capital">Capital </option>
                    <option value= "General Alvear">General Alvear </option>
                    <option value= "San Martín">San Martín </option>
                    <option value= "Godoy Cruz">Godoy Cruz </option>
                    <option value= "Guaymallén">Guaymallén </option>
                    <option value= "Junín">Junín </option>
                    <option value= "La Paz">La Paz </option>
                    <option value= "Las Heras">Las Heras </option>
                    <option value= "Lavalle">Lavalle</option>
                    <option value= "Luján de Cuyo">Luján de Cuyo</option>
                    <option value= "Maipú">Maipú</option>
                    <option value= "Malargüe">Malargüe </option>
                    <option value= "Rivadavia">Rivadavia </option>
                    <option value= "San Carlos">San Carlos </option>
                    <option value= "San Rafael">San Rafael </option>
                    <option value= "Santa Rosa">Santa Rosa </option>
                    <option value= "Tunuyán">Tunuyán </option>
                    <option value= "Tupungato">Tupungato </option>
                </select>
            </div>
            <br>
            <div class="btn-group">
                <label for="dias">Días Laborales</label>
                <ul class="dropdown-menu" style="padding: 10px" id="myDiv">
                    <li><input type="checkbox" value="Lunes" > Lunes</li>
                    <li><p><input type="checkbox" value="Martes" >Martes</p></li>
                    <li><p><input type="checkbox" value="Miércoles" > Miércoles</p></li>
                    <li><p><input type="checkbox" value="Jueves" >Jueves</p></li>
                    <li><p><input type="checkbox" value="Viernes" >Viernes</p></li>
                    <li><p><input type="checkbox" value="Sábado" >Sábado</p></li>
                    <li><p><input type="checkbox" value="Domingo" >Domingo</p></li>
                </ul>
            </div>
            <div>   
                <label for="hora"> Hora de inicio</label>
                <input type="time" name="dateFrom" id="hora">
            </div>
            <br>
            <div>   
                <label for="hora"> Hora de finalización</label>
                <input type="time" name="dateTo" id="hora">
            </div>
            <br>
            <div>   
                <label for="cantidad de habitaciones"> Cantidad de habitaciones</label>
                <input type="number" name="rooms" id="cantidad de habitaciones">
            </div>
            <br>
            <div> 
                <label for="Sectores"> Sectores de la vivienda</label>
                <select name= "exteriors" id="Sectores">
                    <option value= "adentro">Adentro </option>
                    <option value= "afuera">Afuera </option>
                    <option value= "ambas">Ambas </option>
                </select>
            </div>
            <br>
            <div> 
                <label for="cocina"> Servicio de Cocina?</label>
                <ul id="cocina">
                    <li><p><input type="checkbox" value="Si" > Si</p></li>
                    <li><p><input type="checkbox" value="No" > No</p></li>
                </ul>
                </div>
                <br>
                <div> 
                    <label for="lavado"> Servicio de Lavado de Ropa?</label>
                    <ul id="lavado">
                        <li><p><input type="checkbox" value="Si" > Si</p></li>
                        <li><p><input type="checkbox" value="No" > No</p></li>
                    </ul>
                    </div>
                    <br>
                    <div> 
                        <label for="planchado"> Servicio de Planchado?</label>
                        <ul id="planchado">
                            <li><p><input type="checkbox" value="Si" > Si</p></li>
                            <li><p><input type="checkbox" value="No" > No</p></li>
                        </ul>
                        </div>
                        <br>
            <label for="comentario">Comentario </label>
            <br>
            <textarea cols="50" rows= "10" id="comentario" placeholder="Ingrese un comentario" name= "comentario"></textarea> 
            <br>
            <button type="submit"> Enviar </button> 
        </form>


        <!-- <form action="/action_page.php" class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin">
            <h2 class="w3-center">Contact Us</h2>
             
            <div class="w3-row w3-section">
              <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
                <div class="w3-rest">
                  <input class="w3-input w3-border" name="first" type="text" placeholder="First Name">
                </div>
            </div>
            
            <div class="w3-row w3-section">
              <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
                <div class="w3-rest">
                  <input class="w3-input w3-border" name="last" type="text" placeholder="Last Name">
                </div>
            </div>
            
            <div class="w3-row w3-section">
              <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-envelope-o"></i></div>
                <div class="w3-rest">
                  <input class="w3-input w3-border" name="email" type="text" placeholder="Email">
                </div>
            </div>
            
            <div class="w3-row w3-section">
              <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-phone"></i></div>
                <div class="w3-rest">
                  <input class="w3-input w3-border" name="phone" type="text" placeholder="Phone">
                </div>
            </div>
            
            <div class="w3-row w3-section">
              <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
                <div class="w3-rest">
                  <input class="w3-input w3-border" name="message" type="text" placeholder="Message">
                </div>
            </div>
            
            <button class="w3-button w3-block w3-section w3-blue w3-ripple w3-padding">Send</button>
            
            </form>
             -->

</body>
</html>