<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Limpieza Doméstica</title>
</head>

<body>
    <div class="postingCardInfo">
        <div class="postingCardTop">
            <div class="postingPillsPosting">
            </div>
            <div class="postingCardRow postingCardRowPriceLocation go-to-posting">
                <div class="postingCardPriceBlock">
                    <div class=" postingCardPrices  go-to-posting" data-qa="precio">
                        <span data-price="USD 1" class="firstPrice">
                            Ars $400,00
                        </span>
                        <span class=" postingCardNombre  " data-qa="Nombre">
                            María
                        </span>
                    </div>
                </div>
                <div class="postingCardLocationBlock go-to-posting">
                    <span class=" postingCardLocation  go-to-posting" data-qa="ubicacion">
                        <span>Mendoza, Ciudad</span>
                    </span>
                </div>
            </div>
            <div class="postingCardRow postingCardMainFeaturesBlock go-to-posting">
                <ul class=" postingCardMainFeatures  go-to-posting" data-qa="features">
                    <li>
                        <i class="postingCardIconsFeatures iconRooms"></i>
                        4 habitaciones, 1 living
                    </li>
                    <li>
                        <i class="postingCardIconsFeatures iconExteriors"></i>
                        Posee patio? Sí o No
                    </li>
                    <li>
                        <i class="postingCardIconsFeatures iconCooking"></i>
                        Debe cocinar? Sí o no
                    </li>
                    <li>
                        <i class="postingCardIconsFeatures iconLaundry"></i>
                        Debe lavar ropa? Sí o no
                    </li>
                    <li>
                        <i class="postingCardIconsFeatures iconLaundry"></i>
                        Debe planchar? Sí o no
                    </li>
                </ul>
            </div>
            <div class="postingCardRow">

                <h2 class="postingCardTitle" data-qa="titulo">
                    <h3>María limpiando</h3>
                    <div>
                        <img src="../static/img/Limpieza/limp1.jpg" alt="images" width="380px" height="450px"/>
                        <img src="../static/img//Limpieza/limp8.jpg" alt="images" width="380px" height="450px"/>
                        <img src="../static/img/Limpieza/limp3.jpg" alt="images" width="380px" height="450px"/>
                    </div>
                </h2>
            </div>
            <div class="postingCardRow postingCardDescription go-to-posting" data-qa="descripcion">
                Descripcion escrita por María; se solicita personal capaz de asear la casa, preferentemente de jornada
                completa. La limpieza incluye el aseo completo
                del hogar, planchado y almuerzo.
                El pago es de $400 la hora.
            </div>
        </div>
        <br>
        <div class="postingCardInfo">
            <div class="postingCardTop">
                <div class="postingPillsPosting">
                </div>
                <div class="postingCardRow postingCardRowPriceLocation go-to-posting">
                    <div class="postingCardPriceBlock">
                        <div class=" postingCardPrices  go-to-posting" data-qa="precio">
                            <span data-price="USD 1" class="firstPrice">
                                Ars $400,00
                            </span>
                            <span class=" postingCardNombre  " data-qa="Nombre">
                                María
                            </span>
                        </div>
                    </div>
                    <div class="postingCardLocationBlock go-to-posting">
                        <span class=" postingCardLocation  go-to-posting" data-qa="ubicacion">
                            <span>Mendoza, Ciudad</span>
                        </span>
                    </div>
                </div>
                <div class="postingCardRow postingCardMainFeaturesBlock go-to-posting">
                    <ul class=" postingCardMainFeatures  go-to-posting" data-qa="features">
                        <li>
                            <i class="postingCardIconsFeatures iconRooms"></i>
                            4 habitaciones, 1 living
                        </li>
                        <li>
                            <i class="postingCardIconsFeatures iconExteriors"></i>
                            Posee patio? Sí o No
                        </li>
                        <li>
                            <i class="postingCardIconsFeatures iconCooking"></i>
                            Debe cocinar? Sí o no
                        </li>
                        <li>
                            <i class="postingCardIconsFeatures iconLaundry"></i>
                            Debe lavar ropa? Sí o no
                        </li>
                        <li>
                            <i class="postingCardIconsFeatures iconLaundry"></i>
                            Debe planchar? Sí o no
                        </li>
                    </ul>
                </div>
                <div class="postingCardRow">

                    <h2 class="postingCardTitle" data-qa="titulo">
                        <h3>María limpiando</h3>
                        <div class="resolucion">
                            <img src="../static/img/Limpieza/limp5.jpg" alt="images" width="380px" height="450px"/>
                            <img src="../static/img//Limpieza/limp6.jpg" alt="images" width="380px" height="450px"/>
                            <img src="../static/img/Limpieza/limp9.jpg" alt="images" width="380px" height="450px"/>
                        </div>
                    </h2>
                </div>
                <div class="postingCardRow postingCardDescription go-to-posting" data-qa="descripcion">
                    Descripcion escrita por María; se solicita personal capaz de asear la casa, preferentemente de
                    jornada
                    completa. La limpieza incluye el aseo completo
                    del hogar, planchado y almuerzo.
                    El pago es de $400 la hora.
                </div>
            </div>
            <br>
            <div class="postingCardInfo">
                <div class="postingCardTop">
                    <div class="postingPillsPosting">
                    </div>
                    <div class="postingCardRow postingCardRowPriceLocation go-to-posting">
                        <div class="postingCardPriceBlock">
                            <div class=" postingCardPrices  go-to-posting" data-qa="precio">
                                <span data-price="USD 1" class="firstPrice">
                                    Ars $400,00
                                </span>
                                <span class=" postingCardNombre  " data-qa="Nombre">
                                    María
                                </span>
                            </div>
                        </div>
                        <div class="postingCardLocationBlock go-to-posting">
                            <span class=" postingCardLocation  go-to-posting" data-qa="ubicacion">
                                <span>Mendoza, Ciudad</span>
                            </span>
                        </div>
                    </div>
                    <div class="postingCardRow postingCardMainFeaturesBlock go-to-posting">
                        <ul class=" postingCardMainFeatures  go-to-posting" data-qa="features">
                            <li>
                                <i class="postingCardIconsFeatures iconRooms"></i>
                                4 habitaciones, 1 living
                            </li>
                            <li>
                                <i class="postingCardIconsFeatures iconExteriors"></i>
                                Posee patio? Sí o No
                            </li>
                            <li>
                                <i class="postingCardIconsFeatures iconCooking"></i>
                                Debe cocinar? Sí o no
                            </li>
                            <li>
                                <i class="postingCardIconsFeatures iconLaundry"></i>
                                Debe lavar ropa? Sí o no
                            </li>
                            <li>
                                <i class="postingCardIconsFeatures iconLaundry"></i>
                                Debe planchar? Sí o no
                            </li>
                        </ul>
                    </div>
                    <div class="postingCardRow">

                        <h2 class="postingCardTitle" data-qa="titulo">
                            <h3>María limpiando</h3>
                            <div class="resolucion">
                                <img src="../static/img/Limpieza/limp7.jpg" alt="images" width="380px" height="450px" />
                                <img src="../static/img//Limpieza/limp15.jpg" alt="images" width="380px"
                                    height="450px" />
                                <img src="../static/img/Limpieza/limp16.jpg" alt="images" width="380px"
                                    height="450px" />
                            </div>
                        </h2>
                    </div>
                    <div class="postingCardRow postingCardDescription go-to-posting" data-qa="descripcion">
                        Descripcion escrita por María; se solicita personal capaz de asear la casa, preferentemente de
                        jornada
                        completa. La limpieza incluye el aseo completo
                        del hogar, planchado y almuerzo.
                        El pago es de $400 la hora.
                    </div>
                </div>
                <br>

</body>

</html>