<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="postingCardInfo">
        <div class="postingCardTop">
        <div class="postingPillsPosting">
        </div>
        <div class="postingCardRow postingCardRowPriceLocation go-to-posting">
        <div class="postingCardPriceBlock">
        <div class=" postingCardPrices  go-to-posting" data-qa="precio">
        <span data-price="USD 1.100" class="firstPrice">
        Ars $1000,00
        </span>
        <span class=" postingCardNombre  " data-qa="Nombre">
        Juan Carlos 
        </span>
        </div>
        </div>
        <div class="postingCardLocationBlock go-to-posting">
        <span class=" postingCardLocation  go-to-posting" data-qa="ubicacion">
        <span>Maipú, Mendoza</span>
        </span>
        </div>
        </div>
        <div class="postingCardRow postingCardMainFeaturesBlock go-to-posting">
        <ul class=" postingCardMainFeatures  go-to-posting" data-qa="features">
        <li>
        <i class="postingCardIconsFeatures iconArea"></i>
        De 1 a 4 perros
        </li>
        <li>
        <i class="postingCardIconsFeatures iconEnvironments"></i>
        Tamaño de las mascotas
        </li>
        <li>
        <i class="postingCardIconsFeatures iconBedrooms"></i>
        Raza
        </li>
        </ul>
        </div>
        <div class="postingCardRow">
        <h2 class="postingCardTitle" data-qa="titulo">
        <a class="go-to-posting" href="/propiedades/departamento-el-sendero-48720156.html" <!--fotos del tipo haciendo su trabajo--></a>>
        Fotos de juan carlos paseando perros
        </a>
        </h2>
        </div>
        <div class="postingCardRow postingCardDescription go-to-posting" data-qa="descripcion">
        Descripcion escrita por juan carlos
        </div>
        </div>
            
</body>
</html>
