<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>

<body>
    <div>
        <h1>AYUDA EN CASA</h1>
        <button>Ofrece tu servicio</button>
        <button>Ingresar</button>
    </div>
    <div>
        <h3>¡Busque el servicio que necesita!</h3>
        <button>BUSCAR</button>
        <button>OFRECER</button>
        <br>
        <input type="search" placeholder="Pruebe con 'Jardinería'">
    </div>
    <div>
        <h3>Sugerencias</h3>
        <button>Jardinería</button>
        <button>Paseo de perros</button>
        <button>Cuidado de personas</button>
        <button>Limpieza doméstica</button>
        <button>Paseador</button>
    </div>
</body>

</html>