<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayuda en casa</title>
</head>
<body>
<p> Ayuda  en  Casa  <!--titulo en el medio de la pagina--> <button type="button"> Publicar servicio </button> <button type="button"> Ingresar </button> </p>
<br>
<br>
<!--botones flotantes en medio de la pagina-->
<button type="button"> Cuidado de personas</button><br/>
<br>
<button type="button"> Jardineria</button><br/>
<br>
<button type="button"> Limpieza domestica</button><br/>
<br>
<button type="button"> Paseador de perros</button><br/>
<br>
<button type="button"> Otros</button><br/>
</body>
</html>