<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jardinería</title>
</head>

<body>
    <div class="postingCardInfo">
        <div class="postingCardTop">
            <div class="postingPillsPosting">
            </div>
            <div class="postingCardRow postingCardRowPriceLocation go-to-posting">
                <div class="postingCardPriceBlock">
                    <div class=" postingCardPrices  go-to-posting" data-qa="precio">
                        <span data-price="USD 1" class="firstPrice">
                            Ars $400,00
                        </span>
                        <span class=" postingCardNombre  " data-qa="Nombre">
                            José
                        </span>
                    </div>
                </div>
                <div class="postingCardLocationBlock go-to-posting">
                    <span class=" postingCardLocation  go-to-posting" data-qa="ubicacion">
                        <span>Mendoza, Ciudad</span>
                    </span>
                </div>
            </div>
            <div class="postingCardRow postingCardMainFeaturesBlock go-to-posting">
                <ul class=" postingCardMainFeatures  go-to-posting" data-qa="features">
                    <li>
                        <i class="postingCardIconsFeatures iconSurface"></i>
                        Superficie
                    </li>
                    <li>
                        <i class="postingCardIconsFeatures iconTools"></i>
                        Incluye herramientas? Sí o No
                    </li>
                    <li>
                        <i class="postingCardIconsFeatures iconPoolcleaning"></i>
                        Limpieza de piscina? Sí o no
                    </li>
                    <li>
                        <i class="postingCardIconsFeatures iconGardenFence"></i>
                        Sí o no
                    </li>
                    </li>
                         <i class="postingCardIconsFeatures iconPlantDesinfection"></i>
                        Desinfección? Sí o no
                    </li>
                </ul>
            </div>
            <div class="postingCardRow">
                <h2 class="postingCardTitle" data-qa="titulo">
                    <h3>José haciendo jardinería</h3>
                    <img src="../static/img/Jardìn/j1.jpg" alt="images" />
                    <img src="../static/img/Jardìn/j13.jpg" alt="images" />
                    <img src="../static/img/Jardìn/j6.jpg" alt="images" />
                </h2>
            </div>
            <div class="postingCardRow postingCardDescription go-to-posting" data-qa="descripcion">
                Descripcion escrita por José; jardinero que haga trabajo completo.
            </div>
        </div>

</body>

</html>