<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Enviar Mail</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar Mail</title>
    <link rel="stylesheet" href="/css/newLogin.css">
    <!--Icono-->
    <link rel="icon" type="image/jpg" href="/img/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Licorice&family=Pushster&family=Quicksand:wght@300&family=Spline+Sans:wght@300&display=swap" />
    <script src="https://kit.fontawesome.com/83a37f8406.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="center">
        <label for="" class="show-btn"></label>
        <div class="container">
            <div class="text">Contacto</div>
            <form class="formClass" th:action="@{/mail/send}" method="POST">
                <input hidden th:value="${id}" name="id" />
                <div class="data">
                    <label for="email"></label>
                    <input type="text" th:value="${email}" name="email" placeholder="Destinatario">
                </div>
                <div class="data">
                    <label for="subject"></label>
                    <input class="input font" type="text" th:value="${subject}" name="subject" placeholder="Asunto">
                </div>
                <div class="data">
                    <label for="message"></label>
                    <input type="textarea" th:value="${message}" name="message" placeholder="Mensaje">

                    <!-- Esto es el CSRF Token para su seguridad-->
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                </div>
                <div class="btn">
                    <div class="inner"></div>
                    <button type="submit">Enviar</button>
                </div>
                <div class="goback-link">
                    <a class="data" href="/home">Volver</a>
                </div>
            </form>
        </div>
    </div>
    <script src="/js/main.js"></script>
</body>

</html>