<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paseador</title>
</head>

<body>
    <div class="postingCardInfo">
        <div class="postingCardTop">
            <div class="postingPillsPosting">
            </div>
            <div class="postingCardRow postingCardRowPriceLocation go-to-posting">
                <div class="postingCardPriceBlock">
                    <div class=" postingCardPrices  go-to-posting" data-qa="precio">
                        <span data-price="USD 1" class="firstPrice">
                            Ars $1000,00
                        </span>
                        <span class=" postingCardNombre  " data-qa="Nombre">
                            Juan Carlos
                        </span>
                    </div>
                </div>
                <div class="postingCardLocationBlock go-to-posting">
                    <span class=" postingCardLocation  go-to-posting" data-qa="ubicacion">
                        <span>Mendoza, Maipú</span>
                    </span>
                </div>
            </div>
            <div class="postingCardRow postingCardMainFeaturesBlock go-to-posting">
                <ul class=" postingCardMainFeatures  go-to-posting" data-qa="features">
                    <li>
                        <i class="postingCardIconsFeatures iconQuantity"></i>
                        De 1 a 4 perros
                    </li>
                    <li>
                        <i class="postingCardIconsFeatures iconSize"></i>
                        Tamaño de las mascotas
                    </li>
                    <li>
                        <i class="postingCardIconsFeatures iconRace"></i>
                        Raza
                    </li>
                </ul>
            </div>
            <div class="postingCardRow">

                <h2 class="postingCardTitle" data-qa="titulo">
                    <h3>Juan carlos paseando perros</h3>
                    <div class="resolucion">
                        <img src="../static/img/Paseador/p1.jpg" alt="images" width="380px" height="450px"/>
                        <img src="../static/img/Paseador/p5.jpg" alt="images" width="380px" height="450px"/>
                        <img src="../static/img/Paseador/p3.jpg" alt="images" width="380px" height="450px"/>
                    </div>
                </h2>
            </div>
            <div class="postingCardRow postingCardDescription go-to-posting" data-qa="descripcion">
                Descripcion escrita por juan carlos; se solicita personal capaz de pasear perros cariñosos durante 1
                hora de lunes a domingo.
                El pago es de $300 la hora.
            </div>
        </div>
        <br>
        <div class="postingCardInfo">
            <div class="postingCardTop">
                <div class="postingPillsPosting">
                </div>
                <div class="postingCardRow postingCardRowPriceLocation go-to-posting">
                    <div class="postingCardPriceBlock">
                        <div class=" postingCardPrices  go-to-posting" data-qa="precio">
                            <span data-price="USD 1" class="firstPrice">
                                Ars $1000,00
                            </span>
                            <span class=" postingCardNombre  " data-qa="Nombre">
                                Juan Carlos
                            </span>
                        </div>
                    </div>
                    <div class="postingCardLocationBlock go-to-posting">
                        <span class=" postingCardLocation  go-to-posting" data-qa="ubicacion">
                            <span>Mendoza, Maipú</span>
                        </span>
                    </div>
                </div>
                <div class="postingCardRow postingCardMainFeaturesBlock go-to-posting">
                    <ul class=" postingCardMainFeatures  go-to-posting" data-qa="features">
                        <li>
                            <i class="postingCardIconsFeatures iconQuantity"></i>
                            De 1 a 4 perros
                        </li>
                        <li>
                            <i class="postingCardIconsFeatures iconSize"></i>
                            Tamaño de las mascotas
                        </li>
                        <li>
                            <i class="postingCardIconsFeatures iconRace"></i>
                            Raza
                        </li>
                    </ul>
                </div>
                <div class="postingCardRow">
    
                    <h2 class="postingCardTitle" data-qa="titulo">
                        <h3>Juan carlos paseando perros</h3>
                        <div class="resolucion">
                            <img src="../static/img/Paseador/p2.jpg" alt="images" width="380px" height="450px"/>
                            <img src="../static/img/Paseador/p4.jpg" alt="images" width="380px" height="450px"/>
                            <img src="../static/img/Paseador/p8.jpg" alt="images" width="380px" height="450px"/>    
                        </div>
                    </h2>
                </div>
                <div class="postingCardRow postingCardDescription go-to-posting" data-qa="descripcion">
                    Descripcion escrita por juan carlos; se solicita personal capaz de pasear perros cariñosos durante 1
                    hora de lunes a domingo.
                    El pago es de $300 la hora.
                </div>
            </div>
            <br>
            <div class="postingCardInfo">
                <div class="postingCardTop">
                    <div class="postingPillsPosting">
                    </div>
                    <div class="postingCardRow postingCardRowPriceLocation go-to-posting">
                        <div class="postingCardPriceBlock">
                            <div class=" postingCardPrices  go-to-posting" data-qa="precio">
                                <span data-price="USD 1" class="firstPrice">
                                    Ars $1000,00
                                </span>
                                <span class=" postingCardNombre  " data-qa="Nombre">
                                    Juan Carlos
                                </span>
                            </div>
                        </div>
                        <div class="postingCardLocationBlock go-to-posting">
                            <span class=" postingCardLocation  go-to-posting" data-qa="ubicacion">
                                <span>Mendoza, Maipú</span>
                            </span>
                        </div>
                    </div>
                    <div class="postingCardRow postingCardMainFeaturesBlock go-to-posting">
                        <ul class=" postingCardMainFeatures  go-to-posting" data-qa="features">
                            <li>
                                <i class="postingCardIconsFeatures iconQuantity"></i>
                                De 1 a 4 perros
                            </li>
                            <li>
                                <i class="postingCardIconsFeatures iconSize"></i>
                                Tamaño de las mascotas
                            </li>
                            <li>
                                <i class="postingCardIconsFeatures iconRace"></i>
                                Raza
                            </li>
                        </ul>
                    </div>
                    <div class="postingCardRow">
        
                        <h2 class="postingCardTitle" data-qa="titulo">
                            <h3>Juan carlos paseando perros</h3>
                            <div class="resolucion">
                                <img src="../static/img/Paseador/p7.jpg" alt="images" width="380px" height="450px"/>
                                <img src="../static/img/Paseador/p6.jpg" alt="images" width="380px" height="450px"/>
                                <img src="../static/img/Paseador/p9.jpg" alt="images" width="380px" height="450px"/>
                            </div>
                        </h2>
                    </div>
                    <div class="postingCardRow postingCardDescription go-to-posting" data-qa="descripcion">
                        Descripcion escrita por juan carlos; se solicita personal capaz de pasear perros cariñosos durante 1
                        hora de lunes a domingo.
                        El pago es de $300 la hora.
                    </div>
                </div>
                <br>
</body>

</html>