<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paseador de perros</title>
    </head>

<body>
    <header>    
    <h1>Complete el siguiente Formulario </h1>
    </header> 
    <hr>
    <h2> Paseador de perros <h2>
    <img src="../static/img/Paseador/p10.jpg" alt="images" width="300"/>
    <form action="/petWalkerForm" method="POST">
        <div>   
            <label for= "salario"> Remuneración Pretendida </label>
            <input type="text" name "salary" id= "salario">
        </div>
        <br>
        <div>   
            <label for= "zona"> Zona Laboral </label>
            <select name= "workingZone" id="zona">
                <option value= "Capital">Capital </option>
                <option value= "General Alvear">General Alvear </option>
                <option value= "San Martín">San Martín </option>
                <option value= "Godoy Cruz">Godoy Cruz </option>
                <option value= "Guaymallén">Guaymallén </option>
                <option value= "Junín">Junín </option>
                <option value= "La Paz">La Paz </option>
                <option value= "Las Heras">Las Heras </option>
                <option value= "Lavalle">Lavalle</option>
                <option value= "Luján de Cuyo">Luján de Cuyo</option>
                <option value= "Maipú">Maipú</option>
                <option value= "Malargüe">Malargüe </option>
                <option value= "Rivadavia">Rivadavia </option>
                <option value= "San Carlos">San Carlos </option>
                <option value= "San Rafael">San Rafael </option>
                <option value= "Santa Rosa">Santa Rosa </option>
                <option value= "Tunuyán">Tunuyán </option>
                <option value= "Tupungato">Tupungato </option>
            </select>
        </div>
        <br>
        <div class="btn-group">
            <label for="dias">Días Laborales</label>
            <ul class="dropdown-menu" style="padding: 10px" id="myDiv">
                <li><p><input type="checkbox" value="Lunes" > Lunes</p></li>
                <li><p><input type="checkbox" value="Martes" >Martes</p></li>
                <li><p><input type="checkbox" value="Miércoles" > Miércoles</p></li>
                <li><p><input type="checkbox" value="Jueves" >Jueves</p></li>
                <li><p><input type="checkbox" value="Viernes" >Viernes</p></li>
                <li><p><input type="checkbox" value="Sábado" >Sábado</p></li>
                <li><p><input type="checkbox" value="Domingo" >Domingo</p></li>
            </ul>
        </div>
        <div>   
            <label for="hora"> Hora de inicio</label>
            <input type="time" name="dateFrom" id="hora">
        </div>
        <br>
        <div>   
            <label for="hora"> Hora de finalización</label>
            <input type="time" name="dateTo" id="hora">
        </div>
        <br>
        <div>   
        <label for="cantidad de perros"> Cantidad de perros</label>
        <input type="number" name="petQuantity" id="cantidad de perros">
        </div>
        <br>
        <div> 
        <label for="tamaño"> Tamaño de los perros</label>
        <select name= "petType" id="tamaño">
            <option value= "pequeño">Pequeño </option>
            <option value= "mediano">Mediano </option>
            <option value= "grande">Grande </option>
            <option value= "indistinto">Indistinto </option>
        </select>
        </div>
        <br>
        <label for="comentario">Comentario </label>
        <br>
        <textarea cols="50" rows= "10" id="comentario" placeholder="Ingrese un comentario" name= "comentario"></textarea> 
        <br>
        <button type="submit"> Enviar </button> 
    </form>
</body>

</html>